.DragPostWrappper{
    display: flex;
    justify-content: space-between;
}
.DragPostWrappper div input{
margin: 2rem;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem;
}

.DragPostWrappper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

